   
*{
     --color-text-2: #fff;
     --color-bg: #F2F6FA;
     --color-hr: #7E868E;
     --color-text: #2E363E;
     --color-bg-x: #081130;
     --color-bg-z: #1D1037;
     --color-bg-y: #5D6AFB;
     --color-bg-a: #4A94FF;

     --color-bg-yellow: #FED84C;

     --color-hov-s: #c4c9ce;
     --color-hov-g: #f9cc26;
}
 